* {
    box-sizing:border-box;
}

.body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    transition:all 1s;
}

main {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

main section article {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    position: relative;
    top: -50px;
    filter:opacity(0%);
    transition:top 1s, opacity 1.5s;
}

.footer {
    border-top: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width:600px) {
    
    .body {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .top {
        display:block;
        text-align:center;
        border-bottom:initial;
    }

    .top .title {
        display:block;
        padding-bottom:10px;
    }
    .nav-items {
        justify-content: center;
        padding-top:2px;
        padding-bottom:2px;
    }

    .nav-items a{
        margin-left:20px;
        margin-right:20px;
    }
}

@media only screen and (min-width:1000px) {
    .mainImage {
        width:674px;
        height:507px;
    }
}