.top {
    border-bottom:1px solid gray;
    display:flex;
    padding-left:10px;
    padding-right:10px;
    padding-top:20px;
    padding-bottom:20px;
}

.top header a {
    text-decoration: none;
    color:black;
}

.nav-items {
    display:flex;
    margin-left:auto;   
}

.nav-items a {
    margin-left:10px;
    text-decoration: none;
    color:black;
}

.mainImage {
    width:600px;
    height:400px;
    margin:0px auto;
}

.mainImage img {
    display:block;
    width:100%;
    object-fit: cover;
}

main article {
    margin-top:15px;
}

@media only screen and (max-width:750px) {
    .mainImage {
        width:95%;
        height:40%;
    }
}